<div class="row hidden-md-up">
    <% for (item in itemsdata["restaurants"]) {%>
    <div class="card col-md-6 cards">
        <div class="post">
            <img class="post_image" align="left" src="<%=itemsdata['restaurants'][item]['image']%>">
            <div class="post_data">
                <a href="review.html">
                    <p class="post_title"><%=itemsdata['restaurants'][item]['name']%></p>
                </a>
                <p class="post_type"><%=itemsdata['restaurants'][item]['type']%></p>
                <p class="post_cost">&#8377;<%=itemsdata['restaurants'][item]['cost']%></p>
                <p class="post_time">Min &#8377;<%=itemsdata['restaurants'][item]['minCost']%> &#9642; Upto
                    <%=itemsdata['restaurants'][item]['minTime']%></p>
                <p class="post_payment">Accepts Cash &#9642; Online Payments</p>
            </div>
            <div>
                <p class="post_rating"><%=itemsdata['restaurants'][item]['rating']%></p>
                <p class="post_views"><%=itemsdata['restaurants'][item]['votes']%></p>
                <p class="post_reviews"><%=itemsdata['restaurants'][item]['reviews']%></p>
            </div>
        </div>
        <div class="card_footer">
            <button type="button" class="btn btn-outline-success order_button">Order
                Online</button>
        </div>
    </div>
    <% } %>
</div>