<div>
    <% for (review in reviewsdata['restaurant']) {%>
    <img class="img-fluid review_image" src="<%=reviewsdata['restaurant'][review]['image']%>">
    <div class="review_data">
        <h2 class="review_name"><b><%=reviewsdata['restaurant'][review]['name']%></b></h2>
        <p class="review_city"><%=reviewsdata['restaurant'][review]['city']%></p>
        <hr>
        <p>
            <spam class="review_open"><%=reviewsdata['restaurant'][review]['openStatus']%></span> &#9642; <span
                    class="review_type"><%=reviewsdata['restaurant'][review]['type']%></span>
        </p>
    </div>
    <div class="review_rating">
        <p class="review_rates"><%=reviewsdata['restaurant'][review]['rating']%></p>
    </div>
    <br>
    <div>
        <% for (reviewer in reviewsdata['restaurant'][review]['reviewer']) {%>
        <div class="reviewer">
            <div class="review_follows">
                <img class="img-fluid review_photo" align="left"
                    src="<%=reviewsdata['restaurant'][review]['reviewer'][reviewer]['reviewerPhoto']%>">
                <p class="reviewer_name"><%=reviewsdata['restaurant'][review]['reviewer'][reviewer]['reviewerName']%>
                </p>
                <p class="reviewer_reviews">
                    <%=reviewsdata['restaurant'][review]['reviewer'][reviewer]['reviewerReviews']%> <%=reviewsdata['restaurant'][review]['reviewer'][reviewer]['reviewerFollowers']%></p>
                <a class="reviewer_follow" href="">Follow</a>
            </div>
            <br>
            <div class="review_time">
                <p class="reviewer_time"><%=reviewsdata['restaurant'][review]['reviewer'][reviewer]['reviewerTime']%>
                </p>
            </div>
            <br>
            <br>
            <p class="reviewer_review"><span class="reviewer_rate">RATED&nbsp;</span><span
                    class="reviewer_rating"><%=reviewsdata['restaurant'][review]['reviewer'][reviewer]['reviewerRating']%></span>&nbsp;
                <%=reviewsdata['restaurant'][review]['reviewer'][reviewer]['reviewerReview']%></p>
            <div class="reviewer_adds">
                <button type="button" class="btn btn-default btn-sm review_like">
                    <span class="glyphicon glyphicon-heart"></span> Like
                </button>
                <button type="button" class="btn btn-default btn-sm review_comment">
                    <span class="glyphicon glyphicon-comment"></span> Comment
                </button>
                <button type="button" class="btn btn-default btn-sm review_share">
                    <span class="glyphicon glyphicon-share"></span> Share
                </button>
            </div>
            <div class="reviewer_commentbox">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-tag"></span>
                        </div>
                        <input class="form-control" name="comment" type="text"
                            placeholder="Write a comment ... Use @ to tag friends">
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
    <div class="form-group review_add">
        <h4 align="left">Write a Review</h4>
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <input class="form-control" name="comment" type="text"
                placeholder="Help other foodies by sharing your review of Burger King">
        </div>
        <button type="button" class="btn btn-success" id="review_button">Add Your Review</button>
    </div>
</div>